name: 'Deploy'
on:
  workflow_call:
    inputs:
      stage:
        type: string
        required: true
      node-version:
        type: string
        required: true
      name:
        description: What to name the job for GH Actions UI
        type: string
      notifyOnSuccess:
        type: boolean
        required: false
        default: true
      notifyOnFailure:
        type: boolean
        required: false
        default: true
      working-directory:
        type: string
        required: false
        default: './'
        description: Relative path within repo to use for deployment action. Trailing slash required.
    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      AWS_REGION:
        required: true
      SLACK_BOT_TOKEN:
        required: true

jobs:
  deploy:
    name: ${{ inputs.name || 'deploy' }}
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node-version }}
          cache: npm
          cache-dependency-path: ${{ inputs.working-directory }}package-lock.json

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v6
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy
        run: |
          npm ci
          npm run deploy:${{ inputs.stage }}

      - name: Failure Notification
        if: ${{ failure() && inputs.notifyOnFailure == true }}
        uses: kpritam/slack-job-status-action@v1
        with:
          job-status: ${{ job.status }}
          slack-bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
          channel: tw-development

      - name: Release Notification
        if: ${{ success() && inputs.notifyOnSuccess == true }}
        uses: kpritam/slack-job-status-action@v1
        with:
          job-status: ${{ job.status }}
          slack-bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
          channel: tw-releases
